<%= @player_1.name %> vs. <%= @player_2.name %><br>
<%= @player_2.name%>'s HP: <%= @player_2.hit_points %><br>

<form action="/attack" method="get">
  <label for="attack"><%= @player_1_name %> options:
  <input type="submit" value="Attack">
  </label>
</form>
